#canvas { display: block; margin: 0 auto; }
header{
    display:block;
    margin:0 auto;
    width:100%;
    text-align:center;
}

header h1{
    font-family:Arial;
    font-size:40px;
    font-weight:bold;
    margin:0 auto;
}

header #newgamebutton{
    display:block;
    margin:10px auto;

    width:100px;
    padding:10px 10px;
    background-color:#8f7a66;

    font-family:Arial;
    color:white;

    border-radius:10px;
    text-decoration:none;
}
header #newgamebutton:hover{
    background-color:#9f8b77;
}

header p{
    font-family:Arial;
    font-size:25px;
    margin:10px auto;
}

/* 禁用 Safari 弹性滚动效果 */
body {
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
    position: fixed;
    width: 100%;
    height: 100%;
    overscroll-behavior: none;
    -webkit-overscroll-behavior: none;
}

html {
    overscroll-behavior: none;
    -webkit-overscroll-behavior: none;
}